<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="box">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="float">
                        <form class="form" #formLogin="ngForm">
                            <div class="form-group">
                                <label class="text-white">E-mail:</label><br>
                                <input type="text" #emai name="emailAcesso"
                                 [(ngModel)]="email" required
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-white">Senha:</label><br>
                                <input type="password" #senh name="senhaAcesso"
                                 [(ngModel)]="senha" required
                                 class="form-control">
                            </div>
                            </form>
                            <div class="text-center" style="margin-left: 150px;">
                                <button class="btn btn-success" (click)="fazerLogin()"
                                [disabled]="!formLogin.valid"><i class="fa fa-sign-in"></i> Acessar</button>
                                <button class="btn btn-primary" (click)="abrirDialogCliente()">
                                  <i class="fa fa-check"></i> Cadastre-se</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-dialog header="Cadastro Novo Cliente" [(visible)]="dialogNovoCliente"
[responsive]="true" showEffect="fade" [modal]="true" [closable]="true"
width="600" [draggable]="false">
<div class="container" *ngIf="novoCliente">
  <form #cliente="ngForm">
        <div class="ui-g-9 ui-fluid">
            <label><b>Cliente</b></label>
            <input pInputText type="text" name="nome" required
            [(ngModel)]="novoCliente.nome" minlength="5" maxlength="50" #nomeCliente>
         </div>

        <div class="ui-g-5 ui-fluid">
            <label><b>Telefone</b></label>
            <p-inputMask mask="(99)99999-9999" type="text" name="telefone" required
            [(ngModel)]="novoCliente.telefone" minlength="11" maxlength="14" #telefoneCliente></p-inputMask>
         </div>

         <div class="ui-g-9 ui-fluid">
            <label><b>E-mail</b></label>
            <input pInputText type="text" name="email" required
            [(ngModel)]="novoCliente.email" minlength="5" maxlength="50" #emailCliente>
         </div>

         <div class="ui-g-5 ui-fluid">
            <label><b>RG</b></label>
            <p-inputMask mask="99.999.999-9" type="text" name="rg" required
            [(ngModel)]="novoCliente.rg" minlength="12" maxlength="12" #rgCliente></p-inputMask>
         </div>

         <div class="ui-g-5 ui-fluid">
            <label><b>CPF</b></label>
            <p-inputMask mask="999.999.999-99" type="text" name="cpf" required
            [(ngModel)]="novoCliente.cpf" minlength="14" maxlength="14" #cpfCliente></p-inputMask>
         </div>

         <div class="ui-g-5 ui-fluid">
            <label><b>CEP</b></label>
            <p-inputMask mask="99999-999" name="cepResidencial" required
            [(ngModel)]="novoCliente.cep" #cepCliente></p-inputMask>
         </div>

         <div class="ui-g-9 ui-fluid">
            <label><b>Endereço</b></label>
            <input pInputText type="text" name="endereco" required
            [(ngModel)]="novoCliente.endereco" minlength="5" maxlength="50" #enderecoCliente>
         </div>

         <div class="ui-g-3 ui-fluid">
            <label><b>Número</b></label>
            <input pInputText type="text" name="numero" required
            [(ngModel)]="novoCliente.numero" minlength="1" maxlength="5" #numeroCliente>
         </div>

         <div class="ui-g-9 ui-fluid">
            <label><b>Bairro</b></label>
            <input pInputText type="text" name="bairro" required
            [(ngModel)]="novoCliente.bairro" minlength="5" maxlength="50" #bairroCliente>
         </div>

         <div class="ui-g-6 ui-fluid">
            <label><b>Cidade</b></label>
            <input pInputText type="text" name="cidade" required
            [(ngModel)]="novoCliente.cidade" minlength="5" maxlength="40" #cidadeCliente>
         </div>
         <div class="ui-sm-3 ui-md-3 ui-g-2 ui-fluid">
            <label><b>UF</b></label>
            <input pInputText type="text" name="uf" required
            [(ngModel)]="novoCliente.uf" minlength="2" maxlength="2" #ufCliente>
         </div>

         <div class="ui-g-6">
            <label><b>Senha</b></label>
            <input pPassword type="password" required name="senha" [(ngModel)]="senhaCli">
         </div>

         <div class="ui-g-6">
            <label><b>Confirme sua Senha</b></label>
            <input pPassword type="password" required name="senha" [(ngModel)]="novoCliente.senha">
         </div>
        </form>
         <div class="ui-sm-12 ui-md-4 ui-g-6">
           <button class="btn btn-success" [disabled]="!cliente.valid"
           (click)="salvarCliente()">
           <i class="fa fa-check"></i> Salvar</button>
         </div>

         <div class="ui-sm-12 ui-md-4 ui-g-6">
             <button class="btn btn-warning"
             (click)="fechar()">
               <i class="fa fa-times"></i> Cancelar</button>
           </div>
  </div>
</p-dialog>
