<div class="container">

  <div class="ui-g-12">
    <h2 class="text-center"><b>Visualização do Produto</b></h2>
  </div>

  <div class="ui-g-5">
    <p-galleria [images]="imagens" panelWidth="400"
    panelHeight="250"></p-galleria>

      <div class="ui-g-10" style="margin-left: 10px;">
        <hr>
      </div>
      <div class="ui-g-12" style="margin-left: 125px;">
       <h5><b> {{produto.produto}} </b></h5>
       <p class="card-text" style="color: rgb(6, 204, 6); font-size: 25px;">
        {{ valorProduto | currency:'BRL':true:'1.2-2' }}</p>
      </div>
    </div>


  <div class="ui-g-5" style="margin-left: 150px;">

    <img src="./assets/pagSeguro.jpg" style="width: 100%; border-radius: 10px;">

    <label style="margin-top: 20px;"><b>Quantidade</b></label>

    <p-spinner size="3" [(ngModel)]="quantidadeProduto"
    (click)="mudaQuantidade()" [min]="1" [max]="produto.quantidade"
     style="margin-top: 20px; margin-left: 3px;"></p-spinner>

    <button class="btn btn-success" style="margin-top: 2px;margin-left: 5px;"
    (click)="adicionarNoCarrinho()"><i class="fa fa-shopping-cart"></i>
    Adicionar ao Carrinho</button>

  </div>

  <div class="ui-g-12">
    <hr style="background-color: black;">
    <h4 class="text-center" style="margin-top: 20px;"><b>Descrição do Produto</b></h4>

    <h5><p> {{ produto.descricao }}</p></h5>
  </div>
</div>
