<div class="container">

  <div class="ui-g-12">
    <h2 class="text-center"><b>Produtos</b></h2>
  </div>

  <div class="ui-g-12">
    <button class="btn btn-success" (click)="abrirDialogNovoProduto()">
      <i class="fa fa-plus"></i> Novo
    </button>
  </div>
  <div class="ui-g-12">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #fa type="text" pInputText size="20" placeholder="Busca..." maxlength="10">
    </div>
    <p-dataTable [value]="produtos" [paginator]="true" [rows]="8" [responsive]="true" emptyMessage="Nenhum Produto Encontrado..."
      [globalFilter]="fa" [rowsPerPageOptions]="['8','15', '20', '30', '50', '100']">
      <p-column styleClass="tabela-produto-acao" header="Ações">
        <ng-template pTemplate="body" let-pro="rowData">
          <button class="btn btn-warning" (click)="abrirDialogEditarProduto(pro)">
            <i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger" (click)="confirmarExclusao(pro.id)" style="margin-top: 3px;"><i class="fa fa-trash"></i></button>
        </ng-template>
      </p-column>
      <p-column field="produto" header="Produto"></p-column>
      <p-column field="fornecedor.nome" header="Fornecedor"></p-column>
      <p-column field="precoCompra" styleClass="tabela-servico-valor" header="Preço de Compra">
        <ng-template pTemplate="body" let-pro="rowData">
          {{ pro.precoCompra | currency:'BRL':true:'1.2-2' }}
        </ng-template>
      </p-column>
      <p-column field="precoVenda" styleClass="tabela-servico-valor" header="Preço de Venda">
        <ng-template pTemplate="body" let-pro="rowData">
          {{ pro.precoVenda | currency:'BRL':true:'1.2-2' }}
        </ng-template>
      </p-column>
      <p-column field="servico.valor" styleClass="tabela-servico-valor" header="Valor do Serviço">
        <ng-template pTemplate="body" let-pro="rowData">
          {{ pro.servico.valor | currency:'BRL':true:'1.2-2' }}
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>

<p-dialog header="Cadastro Novo Produto" [(visible)]="dialogNovoProduto" [responsive]="true" showEffect="fade" [modal]="true"
  [closable]="true" width="600" [draggable]="false">
  <div class="container" *ngIf="novoProduto">
    <form #produto="ngForm">
      <div class="ui-g-9 ui-sm-12 ui-fluid">
        <label><b>Produto</b></label>
        <input pInputText type="text" name="produto" required [(ngModel)]="novoProduto.produto" minlength="5" maxlength="50"
          #nomeProduto>
      </div>

      <div class="ui-g-3 ui-sm-12 ui-fluid">
        <label><b>Quantidade</b></label>
        <input pInputText type="number" name="quantidade" required [(ngModel)]="novoProduto.quantidade"
          #quantidadeProduto>
      </div>

      <div class="ui-g-6 ui-sm-12 ui-fluid">
        <label><b>Preço de Compra</b></label>
        <input pInputText type="text" name="precoCompra" required [(ngModel)]="novoProduto.precoCompra"
          #precoCompraProduto currencyMask [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false}">
      </div>

      <div class="ui-g-6 ui-sm-12 ui-fluid">
        <label><b>Preço de Venda</b></label>
        <input pInputText type="text" name="precoVenda" required [(ngModel)]="novoProduto.precoVenda"
          #precoVendaProduto currencyMask [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false}">
      </div>

      <div class="ui-g-6 ui-sm-12 ui-fluid">
        <a style="cursor:pointer; color:blue;" (click)="abrirDialogNovoFornecedor()">
          Ainda não tem o Fornecedor Cadastrado? Cadastre já!</a>
        <p-dropdown [options]="fornecedores" placeholder="Selecione um Fornecedor" required [autoWidth]="false"
          [filter]="true" [(ngModel)]="novoProduto.fornecedor.id" name="forne" #Fornecedor emptyFilterMessage="Nenhum Fornecedor Encontrado"></p-dropdown>
      </div>

      <div class="ui-g-6 ui-sm-12 ui-fluid">
          <a style="cursor:pointer; color:blue;" (click)="abrirDialogNovoServico()"
          >Ainda não tem o Serviço deste Produto Cadastrado? Cadastre já!</a>
        <p-dropdown [options]="servicos" placeholder="Selecione um Serviço" required [autoWidth]="false" [filter]="true"
          [(ngModel)]="novoProduto.servico.id" name="serv" #Servico emptyFilterMessage="Nenhum Serviço Encontrado"></p-dropdown>
      </div>

    </form>
    <div class="ui-sm-12 ui-md-4 ui-g-6">
      <button class="btn btn-success" (click)="salvarProduto()" [disabled]="produto.invalid">
        <i class="fa fa-check"></i> Salvar</button>
    </div>

    <div class="ui-sm-12 ui-md-4 ui-g-6">
      <button class="btn btn-warning" (click)="fechar()">
        <i class="fa fa-times"></i> Cancelar</button>
    </div>
  </div>
</p-dialog>

<p-dialog header="Editar Produto" [(visible)]="dialogEditarProduto" [responsive]="true" showEffect="fade" [modal]="true"
  [closable]="true" width="600" [draggable]="false">
  <div class="container" *ngIf="produtoSelecionado">
    <form #produtoEditar="ngForm">
      <div class="ui-g-9 ui-sm-12 ui-fluid">
        <label><b>Produto</b></label>
        <input pInputText type="text" name="produto" required [(ngModel)]="produtoSelecionado.produto" minlength="5"
          maxlength="50" #nomeProduto>
      </div>

      <div class="ui-g-3 ui-sm-12 ui-fluid">
        <label><b>Quantidade</b></label>
        <input pInputText type="number" name="quantidade" required [(ngModel)]="produtoSelecionado.quantidade"
          #quantidadeProduto>
      </div>

      <div class="ui-g-6 ui-sm-12 ui-fluid">
        <label><b>Preço de Compra</b></label>
        <input pInputText type="text" name="precoCompra" required [(ngModel)]="produtoSelecionado.precoCompra"
          #precoCompraProduto currencyMask [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false}">
      </div>

      <div class="ui-g-6 ui-sm-12 ui-fluid">
        <label><b>Preço de Venda</b></label>
        <input pInputText type="text" name="precoVenda" required [(ngModel)]="produtoSelecionado.precoVenda"
          #precoVendaProduto currencyMask [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false}">
      </div>

      <div class="ui-g-6 ui-sm-12 ui-fluid">
        <p-dropdown [options]="fornecedores" placeholder="Selecione um Fornecedor" required [autoWidth]="false"
          [filter]="true" [(ngModel)]="produtoSelecionado.fornecedor.id" name="forne" #Fornecedor emptyFilterMessage="Nenhum Fornecedor Encontrado"></p-dropdown>
      </div>

      <div class="ui-g-6 ui-sm-12 ui-fluid">
        <p-dropdown [options]="servicos" placeholder="Selecione um Serviço" required [autoWidth]="false" [filter]="true"
          [(ngModel)]="produtoSelecionado.servico.id" name="serv" #Servico emptyFilterMessage="Nenhum Serviço Encontrado"></p-dropdown>
      </div>

    </form>
    <div class="ui-sm-12 ui-md-4 ui-g-6">
      <button class="btn btn-success" (click)="editarProduto()" [disabled]="produtoEditar.invalid">
        <i class="fa fa-check"></i> Salvar</button>
    </div>

    <div class="ui-sm-12 ui-md-4 ui-g-6">
      <button class="btn btn-warning" (click)="fechar()">
        <i class="fa fa-times"></i> Cancelar</button>
    </div>
  </div>
</p-dialog>

<p-dialog header="Cadastro Novo Serviço" [(visible)]="dialogNovoServico"
  [responsive]="true" showEffect="fade" [modal]="true" [closable]="true"
  width="600" [draggable]="false">
  <div class="container">
    <form #servico="ngForm">

           <div class="ui-g-9 ui-md-9 ui-sm-12 ui-fluid">
              <label><b>Descrição</b></label>
              <input pInputText type="text" name="descricao" required
              [(ngModel)]="novoServico.descricao" minlength="5" maxlength="50" #descricaoServico>
           </div>

           <div class="ui-g-6 ui-md-6 ui-sm-12 ui-fluid">
              <label><b>Valor</b></label>
              <input pInputText type="text" name="valor" required
              [(ngModel)]="novoServico.valor" currencyMask
              [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false}"
              #valorServico>
           </div>
          </form>
           <div class="ui-sm-12 ui-md-7 ui-g-6">
             <button class="btn btn-success"
             (click)="salvarServico()" [disabled]="!servico.valid">
             <i class="fa fa-check"></i> Salvar</button>
           </div>

           <div class="ui-sm-12 ui-md-4 ui-g-6">
               <button class="btn btn-warning"
               (click)="fecharServico()">
                 <i class="fa fa-times"></i> Cancelar</button>
             </div>
    </div>
  </p-dialog>


  <p-dialog header="Cadastro Novo Fornecedor" [(visible)]="dialogNovoFornecedor"
  [responsive]="true" showEffect="fade" [modal]="true" [closable]="true"
  width="600" [draggable]="false">
  <div class="container">
    <form #fornecedor="ngForm">
          <div class="ui-g-9 ui-fluid">
              <label><b>Fornecedor</b></label>
              <input pInputText type="text" name="nome" required
              [(ngModel)]="novoFornecedor.nome" minlength="5" maxlength="50" #nomeFornecedor>
           </div>

          <div class="ui-g-5 ui-fluid">
              <label><b>Telefone</b></label>
              <p-inputMask mask="(99)99999-9999" type="text" name="telefone"
              [(ngModel)]="novoFornecedor.telefone" minlength="11" maxlength="14" #telefoneFornecedor></p-inputMask>
           </div>

           <div class="ui-g-9 ui-fluid">
              <label><b>E-mail</b></label>
              <input pInputText type="text" name="email" required
              [(ngModel)]="novoFornecedor.email" minlength="5" maxlength="50" #emailFornecedor>
           </div>

           <div class="ui-g-5 ui-fluid">
              <label><b>RG</b></label>
              <p-inputMask mask="99.999.999-9" type="text" name="rg"
              [(ngModel)]="novoFornecedor.rg" minlength="12" maxlength="12" #rgFornecedor></p-inputMask>
           </div>

           <div class="ui-g-5 ui-fluid">
              <label><b>CPF</b></label>
              <p-inputMask mask="999.999.999-99" type="text" name="cpf"
              [(ngModel)]="novoFornecedor.cpf" minlength="14" maxlength="14" #cpfFornecedor></p-inputMask>
           </div>

           <div class="ui-g-5 ui-fluid">
              <label><b>CEP</b></label>
              <p-inputMask mask="99999-999" name="cepResidencial"
              [(ngModel)]="novoFornecedor.cep" #cepFornecedor></p-inputMask>
           </div>

           <div class="ui-g-9 ui-fluid">
              <label><b>Endereço</b></label>
              <input pInputText type="text" name="endereco" required
              [(ngModel)]="novoFornecedor.endereco" minlength="5" maxlength="50" #enderecoFornecedor>
           </div>

           <div class="ui-g-3 ui-fluid">
              <label><b>Número</b></label>
              <input pInputText type="text" name="numero" required
              [(ngModel)]="novoFornecedor.numero" minlength="1" maxlength="5" #numeroFornecedor>
           </div>

           <div class="ui-g-9 ui-fluid">
              <label><b>Bairro</b></label>
              <input pInputText type="text" name="bairro" required
              [(ngModel)]="novoFornecedor.bairro" minlength="5" maxlength="50" #bairroFornecedor>
           </div>

           <div class="ui-g-6 ui-fluid">
              <label><b>Cidade</b></label>
              <input pInputText type="text" name="cidade" required
              [(ngModel)]="novoFornecedor.cidade" minlength="5" maxlength="40" #cidadeFornecedor>
           </div>
           <div class="ui-sm-3 ui-md-3 ui-g-2 ui-fluid">
              <label><b>UF</b></label>
              <input pInputText type="text" name="uf" required
              [(ngModel)]="novoFornecedor.uf" minlength="2" maxlength="2" #ufFornecedor>
           </div>
          </form>
           <div class="ui-sm-12 ui-md-4 ui-g-6">
             <button class="btn btn-success"
             (click)="salvarFornecedor()" [disabled]="fornecedor.invalid">
             <i class="fa fa-check"></i> Salvar</button>
           </div>

           <div class="ui-sm-12 ui-md-4 ui-g-6">
               <button class="btn btn-warning"
               (click)="fecharFornecedor()">
                 <i class="fa fa-times"></i> Cancelar</button>
             </div>
    </div>
  </p-dialog>
