<div class="container">
    <div class="ui-g-12">
      <h1 class="text-center"><b>Serviços</b></h1>
    </div>

    <div class="ui-g-12">
      <p-dataTable [value]="servicos" [paginator]="true" [rows]="8"
      [responsive]="true" emptyMessage="Nenhum Serviço Encontrado..."
      [rowsPerPageOptions]="['8','15', '20', '30', '50', '100']">
      <p-column field="descricao" header="Descrição"></p-column>
      <p-column styleClass="tabela-servico-valor" field="valor" header="Valor">
      <ng-template pTemplate="body" let-serv="rowData">
        {{ serv.valor | currency:'BRL':true:'1.2-2' }}
      </ng-template>
      </p-column>
      </p-dataTable>
    </div>
    </div>
