<app-pagina-barra></app-pagina-barra>
<div class="fundo">
<ng2-toasty></ng2-toasty>
<p-confirmDialog header="Confirmação" icon="fa fa-exclamation-triangle" #confirmacao>
    <p-footer>
      <button type="button" (click)="confirmacao.accept()"
       class="btn btn-success"><i class="fa fa-check"></i>Sim</button>
      <button (click)="confirmacao.reject()" class="btn btn-danger">
        <i class="fa fa-times"></i>Não</button>
    </p-footer>
  </p-confirmDialog>
  <router-outlet></router-outlet>
</div>
