<div class="container">
  <div class="ui-g-12">
    <h1 class="text-center"><b>Carros</b></h1>
  </div>

  <div class="ui-g-12">
      <p-dataTable [value]="carros" [paginator]="true" [rows]="8"
      [responsive]="true" emptyMessage="Nenhum Carro Encontrado..."
      [rowsPerPageOptions]="['8','15', '20', '30', '50', '100']">
      <p-column field="carro" header="Carro"></p-column>
      <p-column field="cliente.nome" header="Cliente"></p-column>
      <p-column field="placa" header="Placa"></p-column>
      <p-column field="modelo" header="Modelo"></p-column>
      <p-column field="ano" header="Ano"  styleClass="tabela-cliente-acao"></p-column>
      <p-column field="cor" header="Cor" styleClass="tabela-cliente-cidade"></p-column>
      </p-dataTable>
  </div>
</div>
