<div class="container">
    <div class="ui-g-12">
      <h1 class="text-center"><b>Produtos</b></h1>
    </div>

    <div class="ui-g-12">
      <p-dataTable [value]="produtos" [paginator]="true" [rows]="8" [responsive]="true"
       emptyMessage="Nenhum Produto Encontrado..."
        [rowsPerPageOptions]="['8','15', '20', '30', '50', '100']">
        <p-column field="produto" header="Produto"></p-column>
        <p-column field="fornecedor.nome" header="Fornecedor"></p-column>
        <p-column field="precoCompra" styleClass="tabela-servico-valor" header="Preço de Compra">
          <ng-template pTemplate="body" let-pro="rowData">
            {{ pro.precoCompra | currency:'BRL':true:'1.2-2' }}
          </ng-template>
        </p-column>
        <p-column field="precoVenda" styleClass="tabela-servico-valor" header="Preço de Venda">
          <ng-template pTemplate="body" let-pro="rowData">
            {{ pro.precoVenda | currency:'BRL':true:'1.2-2' }}
          </ng-template>
        </p-column>
        <p-column field="servico.valor" styleClass="tabela-servico-valor" header="Valor do Serviço">
          <ng-template pTemplate="body" let-pro="rowData">
            {{ pro.servico.valor | currency:'BRL':true:'1.2-2' }}
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
