<div class="container">
  <div class="ui-g-12 ui-fluid">
    <h2 class="text-center"><b>Sobre</b></h2>
  </div>
    <div class="ui-g-12 fundoSobre">
       <p><b>   A Virtu's Acessórios Automobilísticos surgiu em 2018 com propósito de colaborar com a vida das pessoas.</b></p>

       <p><b>   Já parou para pensar que os melhores momentos da sua vida, de certa forma, foram proporcionados pelo seu carro? </b> </p>

         <p><b>   Ir e vir da faculdade e do trabalho, levar os filhos para a escola, fazer passeios no final de semana... Seu carro é uma parte importante de sua vida. Encontrar os acessórios certos pode ser um desafio. Nosso objetivo é tornar mais simples para você descobrir as possibilidades de tornar tudo isso ainda mais agradável.</b></p>

         <p><b>   Com anos de experiência no segmento de peças e acessórios automotivos, a Virtu's Imports acaba de mudar de marca e lançar uma nova loja virtual! Agora somos a Virtu's Acessórios Automotivos - criada por motoristas apaixonados para motoristas apaixonados.</b></p>

         <p><b>   Nossa equipe está repleta de colaboradores entusiasmados que conhecem os produtos e que adoram ajudar você a melhorar a aparência, a segurança e o conforto do seu carro!</b></p>

         <p><b>   O ambiente da Virtu's é profissional e otimista. Nós não somos apenas um grupo obstinado em atendê-lo. Nós fazemos pesquisas e desenvolvemos relações com os mais respeitados fabricantes nacionais e internacionais, e, por esse motivo, oferecemos uma extensa variedade de opções de peças e acessórios automotivos com os menores preços do mercado.</b></p>

        <p><b>    A loja virtual da Virtu's foi projetada para ser amigável e segura; nela, você encontrará rapidamente o produto que estiver procurando.</b></p>

        <p><b>Nós amamos carros, nossos clientes amam carros. Mais do que vender peças e acessórios, compartilhamos nossa paixão por automóveis com nossos clientes.</b></p>

        <p><b>Fazemos questão de abrir espaço para trocar informações, formando assim uma grande comunidade!</b></p>

        <p><b>Somos mais que os maiores vendedores de peças e acessórios de automóveis da América Latina, somos um clube de aficcionados. Navegue pela loja virtual e fique à vontade! Comente, dê nota e compartilhe informações sobre os produtos nas redes sociais. Afinal, a Virtu's foi feita para você!</b></p>

       <p><b> A maioria das peças e acessórios que utilizamos nos veículos são dos construtores dos veículos. Alguns produtos são das mesmas indústrias que fornecem para as montadoras, outros não.
           O uso das marcas e nomes das montadoras apenas serve para determinar o modelo do veículo sobre o qual se deve aplicar as referidas peças.</b> </p>
    </div>
</div>
